button {
  height: 50px;
  width: 50px;
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 50px;
}

button.current {
  box-shadow: 0 0 0 2px rgb(222, 18, 18),
              0 0 0 4px rgb(65, 255, 7);
}
